@media (min-width: 1199px) {
    .nav {
        padding: 24px;
    }

    .menu {
        display: none;
    }

    .nav-menu{
        display: block;
        width: 421px;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .nav-menu-content {
        width: min-content;
        height: min-content;
        gap: 8.75px;
        display: flex;
        align-items: center;
    }

    .box-1 {
        width: min-content;
        padding: 8px 14px;
        font-size: 14px;
        border-radius: 999px;
        font-family: 'Font2', sans-serif;
        letter-spacing: -0.14px;
        transform: scaleY(0.9);
    }

    .box-2 {
        width: min-content;
        padding: 8px 14px;
        font-size: 14px;
        border-radius: 999px;
        font-family: 'Font2', sans-serif;
        letter-spacing: -0.14px;
        transform: scaleY(0.9);
    }

    .box-3 {
        width: min-content;
        padding: 8px 14px;
        font-size: 14px;
        border-radius: 999px;
        font-family: 'Font2', sans-serif;
        letter-spacing: -0.14px;
        transform: scaleY(0.9);
    }

    .box-4 {
        width: min-content;
        padding: 8px 14px;
        font-size: 14px;
        border-radius: 999px;
        font-family: 'Font2', sans-serif;
        letter-spacing: -0.14px;
        transform: scaleY(0.9);
    }

    .box-5 {
        width: min-content;
        padding: 8px 14px;
        font-size: 14px;
        border-radius: 999px;
        font-family: 'Font2', sans-serif;
        letter-spacing: -0.14px;
        transform: scaleY(0.9);
    }

    .nav::before {
        left: 0;
    }
    
    .nav::after {
        right: 0;
    }
}
