@font-face {
    font-family: 'Font1';
    src: url('./font/d3tHnaQIAeqiE5hGcRw4mmgWYU.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Font2';
    src: url('./font/pxiTypc9vsFDm051Uf6KVwgkfoSxQ0GsQv8ToedPibnr0SZe1Q.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Instrument Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/instrument-sans-regular.woff2') format('woff2'),
         url('/fonts/instrument-sans-regular.woff') format('woff'),
         url('/fonts/instrument-sans-regular.ttf') format('truetype');
  }
  

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav-box {
    width: 100%;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;    
    border-bottom: 1px solid rgb(224, 226, 230);
}

.nav {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 16px 32px;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    max-width: 1199px;
    position: relative;
}

.nav::before,
.nav::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: rgb(224, 226, 230);
}

.nav::before {
    left: 16px;
}

.nav::after {
    right: 16px;
}

.nav .logo::before,
.nav .nav-box-right::before {
    content: '';
    position: absolute;
    top: 44px;
    width: 7px;
    height: 7px;
    border: 1px solid rgb(224, 226, 230);
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
}

.nav .logo::before {
    left: -19px;
}

.nav .nav-box-right::before {
    top: 48px;
    right: -19px;
}

.menu {
    display: flex;
    width: 36px;
    height: 36px;
    padding: 6px;
    border-radius: 8px;
}

.logo {
    display: flex;
    width: 105px;
    height: 28px;
    position: relative;
}

.nav-box-right {
    position: relative;
}


.framer-cwrlhb {
    box-sizing: border-box;
    font-size: 12px;
    height: 24px;
    width: 24px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.framer-18j6l1i {
    height: 2px;
    width: 18px;
}

.framer-yoe1yb {
    height: 2px;
    width: 18px;
}

.circle-10 {
    position: relative;
    width: 10%;
    height: 10%;
    z-index: 4;
    left: 0px;
    color: #111;
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-top-width: 1px;
    border-style: var(--border-style, none);
}

.nav-menu {
    display: none;
}

.button {
    display: none;
}
    

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 8px;
}

.text-logo {
    font-family: 'Font2', sans-serif;
    font-size: 18px;
    color: rgb(27, 27, 33);
    font-weight: 600;
    transform: scaleY(0.8);
    letter-spacing: -0.54px;
    line-height: 28px;
    -webkit-text-stroke: 0.01px rgb(27, 27, 33);
}

.Icon-logo img {
    position: relative;
    width: 24px !important;
    height: 24px !important;
    min-width: 24px !important;
    min-height: 24px !important;
    max-width: 24px !important;
    max-height: 24px !important;
    display: block;
    object-fit: contain;
    flex-shrink: 0;
    left: -1px;
}

