@media (min-width: 810px) {
    .site-nav {
        padding: 24px 48px;
    }

    .header-inner {
        height: 84px;
    }

    .border-left {
        margin-left: 24px;
    }

    .border-right {
        margin-right: 24px;
    }

    .circle-right {
        top: 80px;
    }

    .circle-left {
        top: 80px;
    }

    .btn {
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #1b1b21;
        padding: 8px 16px;
        border-radius: 999px;
        font-size: 12px;
        box-sizing: border-box;
        box-shadow: inset 0px 2px 0px 0px var(--token-5cdbd907-114d-45f7-91d2-01809dd27bcd, rgb(97, 100, 107)), 0px 2px 4px -2px var(--token-ecff2c2d-3686-45f9-9c26-3f557cb57eb7, rgb(201, 205, 210)), 0px 4px 8px -4px var(--token-ecff2c2d-3686-45f9-9c26-3f557cb57eb7, rgb(201, 205, 210));
        border: 1px solid rgb(36, 36, 42);
        opacity: 1;
        justify-content: center;
        align-items: center;
    }

    .btn__text {
        position: relative;
        display: flex;
        font-size: 14px;
        font-family: "Instrument Sans", sans-serif;
        width: 100%;
        height: 100%;
        color: #ffffff;
        letter-spacing: -0.4px;
        line-height: 20px;
    }

    .header-actions {
        display: flex;
        gap: 16px;
    }

    .header-cta {
        display: flex;
        width: 135px;
        height: 36px;
    }

    .hero-cta-inner {
        width: auto;
        padding: 8px 19px;
    }

    .hero-heading {
        font-size: 56px;
        line-height: 64px;
        letter-spacing: -1.12px;
    }

    .hero__inner {
        top: 180px;
    }

    .stats__number {
        display: block;
    }
    
    .rating__label {
        display: block;
    }

    .stats {
        display: flex;
    }
    
    .rating__divider--right {
        display: block;
        background-color: rgba(13, 41, 0, .05);
        flex: none;
        height: 16px;
        overflow: hidden;
        position: relative;
        width: 1px;
    }
    
    .rating__divider--left {
        display: block;
        background-color: rgba(13, 41, 0, .05);
        flex: none;
        height: 16px;
        overflow: hidden;
        position: relative;
        width: 1px;
    }

    .stats__left {
        display: flex;
        gap: 6px;
        align-items: center;
        justify-content: center;
    }

    .rating__content {
        gap: 16px;
    }

    .rating__content h6 + .rating__stars {
        margin-left: 4px;
      }
      
      .rating__content > *:first-child,
      .rating__content > .rating__stars {
        margin-right: 0;
      }

      .rating {
        top: 9px;
      }


}

